<!DOCTYPE html>
<html>
<head>
	<title>Apprendre la photographie | Template</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="css/template.css">
	<link rel="icon" href="img/favicon.ico" />
</head>

<body>

	<!-- Haut de Page -->
	<div class="main-div">
		
		<header>
			<a href="index.html">
				<img src="img/logo.png" width="60%" title="Accueil">
			</a>
		</header>
	
		<!-- Main Page -->
	
		<div class="mainTitle"><h1>Template</h1></div>
	
		<div class="lorem">
			<h2>Lorem ipsum</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
		</div>

		<hr>


	<!-- A DELETE POUR ENLEVER LE SCROLL -->
		<p class="scroll"> </p>


	</div>
</body>

<footer>
	<p>Apprendre la photographie | 2018/2019</p>
</footer>
